:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  transition: .3s;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  flex-grow: 1;
  min-height: 100vh;
  padding: 2rem 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

:root {
  --primary-text-color: #ffffff;
  --primary-bg-color: #0a1015;

  --c-input-border: #41474c;
  --c-input-bg: #1a1f24;
  --c-input-color: rgba(255, 255, 255, 1);
  --c-input-placeholder: rgba(255, 255, 255, 0.6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: #ffffff;
    --primary-bg-color: #0a1015;

    --c-input-border: #41474c;
    --c-input-bg: #1a1f24;
    --c-input-color: rgba(255, 255, 255, 1);
    --c-input-placeholder: rgba(255, 255, 255, 0.6);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --primary-text-color: #242424;
    --primary-bg-color: #ffffff;

    --c-input-border: #585858;
    --c-input-bg: #fefefe;
    --c-input-color: #242424;
    --c-input-placeholder: rgba(36, 36, 36, 0.75);
  }
} */

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-content h1 {
  font-size: 32px;
}

.blog-content h2 {
  font-size: 24px;
}

.blog-content p,
.blog-content div {
  font-size: 14px;
}

.blog-content .text-block {
  max-width: 600px;
}